<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

ConcernMapper - A concern modeling plug-in for Eclipse
Copyright (C) 2006  McGill University (http://www.cs.mcgill.ca/~martin/cm)
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

$Revision: 1.13 $

 -->
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="FLAT3"
            id="edu_wm_flat3"/>
      <view
            allowMultiple="true"
            category="edu_wm_flat3"
            class="edu.wm.flat3.ui.ConcernView"
            icon="icons/concerntagger.png"
            id="edu_wm_flat3_ConcernView"
            name="Features"/>
      <view
            allowMultiple="true"
            category="edu_wm_flat3"
            class="edu.wm.flat3.metrics.ScatteringMetricsView"
            icon="icons/concerntagger.png"
            id="edu_wm_flat3_ScatteringMetricsView"
            name="Feature Scattering Metrics"/>
      <view
            allowMultiple="true"
            category="edu_wm_flat3"
            class="edu.wm.flat3.analysis.FLATTTTableView"
            icon="icons/magnifier.png"
            id="edu_wm_flat3_TableView"
            name="Search/Trace Results View"/>      
      <view
            allowMultiple="true"
            category="edu_wm_flat3"
            class="edu.wm.flat3.analysis.visualization.VisualizationView"
            icon="icons/map.png"
            id="edu_wm_flat3_VisualizationView"
            name="FLAT3 Visualization"/>   
      <view
            allowMultiple="true"
            category="edu_wm_flat3"
            class="edu.wm.flat3.metrics.CoverageMetricsView"
            icon="icons/concerntagger.png"
            id="edu_wm_flat3_CoverageMetricsView"
            name="Feature Link Statistics"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               id="edu_wm_flat3_ConcernView"/>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="edu_wm_flat3_EditorRightMouse_ExplorerContribution"
            objectClass="org.eclipse.jdt.core.IMember">
         <action
               class="edu.wm.flat3.actions.UnlinkElementsAction"
               id="edu_wm_flat3_EditorRightMouseUnlinkAction_Explorer"
               label="Unlink"
               icon="icons/link_break.png"
               style="pulldown"/>
         <action
               class="edu.wm.flat3.actions.LinkElementsAction"
               id="edu_wm_flat3_EditorRightMouseLinkAction_Explorer"
               label="Link"
               icon="icons/link.png"
               style="pulldown"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="edu_wm_flat3_TraceRightMouse"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
         	   class="edu.wm.flat3.analysis.mutt.actions.RightClickTraceAction"
         	   id="edu_wm_flat3_RightClickTraceAction"
         	   label="Trace with MUTT"
         	   icon="icons/chart_line.png"
         	   style="push"/>
      </objectContribution>
      <viewerContribution
            id="edu_wm_flat3_EditorRightMouse_EditorContribution"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <action
               class="edu.wm.flat3.actions.UnlinkElementsAction"
               id="edu_wm_flat3_EditorRightMouseUnlinkAction_Editor"
               label="Unlink"
               icon="icons/link_break.png"
               menubarPath="additions"
               style="pulldown"/>
         <action
               class="edu.wm.flat3.actions.LinkElementsAction"
               id="edu_wm_flat3_EditorRightMouseLinkAction_Editor"
               label="Link"
               icon="icons/link.png"
               menubarPath="additions"
               style="pulldown"/>
      </viewerContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
         	id="edu_wm_flat3_Decorator"
         	label="Concern Decorator"
         	class="edu.wm.flat3.decorators.LinkedElementDecorator"
         	adaptable="false"
         	state="true"
         	lightweight="true"
         	location="BOTTOM_RIGHT">
         <description>
         	Highlights program elements linked to concerns and appends the concern names. Parents of linked elements are also highlighted (see the Preferences Page).
         </description>
         <enablement>
         	<objectClass name="java.lang.Object"/>
         </enablement>
      </decorator>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Concerns"
            class="edu.wm.flat3.ui.ConcernViewPreferencePage"
            id="edu_wm_flat3_PreferencePage">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="docs/book.xml"
            primary="true">
      </toc>
      <toc
            file="docs/toc_tasks.xml">
      </toc>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
	  <initializer class="edu.wm.flat3.FLATTTPreferenceInitializer"/>
   </extension>
   
      <!--extension
         point="org.eclipse.ui.workbench.texteditor.rulerColumns">
      <column
            class="edu.wm.flattt.ContributedRulerColorColumn"
            enabled="true"
            global="true"
            id="edu.wm.flattt.colorColumn"
            includeInMenu="true"
            name="wmcolor">
         <placement
               gravity="0.9">
            <after
                  id="org.eclipse.ui.editors.columns.annotations">
            </after>
         </placement>
         <targetClass
               class="org.eclipse.ui.texteditor.AbstractDecoratedTextEditor">
         </targetClass>
      </column>
   </extension-->
   
   
</plugin>
